@import "../../styles/typography";

.todo-list {
  ul {
    padding: 0;
    list-style-type: none;
  }

  .new-todo {
    width: 50%;
    margin: auto;
    font-size: 3em;
    text-align: center;
    border: 1px dotted $color-medium-grey;
    color: $color-medium-grey;
    cursor: pointer;

    transition:
      background-color .25s ease,
      color .25s ease;

    &:hover {
      background-color: $color-light-grey;
      color: $color-black;
    }
  }
}

.todo-controls {
  font-size: 1.5em;

  i {
    cursor: pointer;
  }

  i:not(:last-child) {
    margin: 0 .5rem;
  }

  i:last-child {
    margin-left: .5rem;
  }
}