@import "~flatpickr/dist/themes/airbnb";
@import "../../styles/typography";

.todo-entry {
  min-width: $min-page-width;
  margin: auto;
  width: 50%;
  padding: 1em;
  border: 1px solid $color-medium-grey;

  .headline {
    justify-content: space-between;
    padding-bottom: 0.5rem;
  }

  .content {
    justify-content: space-between;
  }
}

.new-todo-block {
  width: 50%;
  margin: auto;
  border: 1px dotted $color-medium-grey;
  position: relative;

  form {
    width: 100%;

    input, select, textarea {
      width: 100%;
      min-width: 100%;
      margin-bottom: 0.5rem;
    }

    .todo-creation-controls {
      width: 100%;
      justify-content: space-around;
    }
  }
}