.todo-list {
  > div {
    margin-top: 0.5rem;
  }
}

.new-todo {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .material-icons.md-icon {
    font-size: 5em;
  }
}