@import "../../styles/typography";

.todo-list {
  ul {
    padding: 0;
    list-style-type: none;
  }

  .todo-entry {
    min-width: $min-page-width;
    margin: auto;
    width: 50%;
    padding: 1em;
    border-top: 1px solid $color-medium-grey;
    border-left: 1px solid $color-medium-grey;
    border-right: 1px solid $color-medium-grey;

    &:last-child {
      border-bottom: 1px solid $color-medium-grey;
    }

    .headline {
      justify-content: space-between;
      padding-bottom: .5rem;
    }

    .content {
      justify-content: space-between;
    }
  }

  .new-todo-block {
    width: 50%;
    margin: auto;
    border: 1px dotted $color-medium-grey;
    position: relative;

    form {
      width: 100%;

      input, select, textarea {
        width: 100%;
        min-width: 100%;
        margin-bottom: .5rem;
      }

      .todo-creation-controls {
        width: 100%;
        justify-content: space-around;
      }
    }
  }

  .new-todo {
    width: 50%;
    margin: auto;
    font-size: 3em;
    text-align: center;
    border: 1px dotted $color-medium-grey;
    color: $color-medium-grey;
    cursor: pointer;

    transition:
      background-color .25s ease,
      color .25s ease;

    &:hover {
      background-color: $color-light-grey;
      color: $color-black;
    }
  }
}

.todo-controls {
  font-size: 1.5em;

  i {
    cursor: pointer;
  }

  i:not(:last-child) {
    margin: 0 .5rem;
  }

  i:last-child {
    margin-left: .5rem;
  }
}