@import "../../styles/colors";
@import "../../styles/typography";

header {
  background-color: $color-black;
  color: $color-white;
  position: fixed;
  height: $header-height;
  line-height: $header-height;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: $default-box-shadow;

  text-align: center;

  display: flex;
  justify-content: space-around;

  .header-navigation-container {
    label {
      cursor: pointer;
      display: block;
      height: $header-height;
    }

    .fa-bars {
      font-size: 30px;
      line-height: $header-height;
      width: $header-height;

      color: $color-black;
      background-color: $color-white;
    }

    #nav-toggle {
      position: absolute;
      top: -100%;
      left: -100%;

      &:checked {
        & + nav.header-nav {
          display: block;
        }
      }
    }
  }

  nav.header-nav {
    position: absolute;
    display: none;

    background-color: $color-black;

    border-bottom-left-radius: $default-border-radius;
    border-bottom-right-radius: $default-border-radius;

    a {
      display: block;
      text-decoration: none;
      text-align: center;
      color: $color-white;
      background-color: $color-black;
      line-height: $header-height;
      //box-shadow: $default-box-shadow;
      padding: .25rem .5rem;
      min-width: 300px;

      &:hover {
        background-color: lighten($color-black, 25%);
      }

      &:not(:first-child) {
        border-top: 1px solid $color-medium-grey;
      }
    }
  }
}