# See https://help.github.com/ignore-files/ for more about ignoring files.

# Intellij folder
/.idea
/.awcache
/.dist

# Generated sources
/src/generated

# Parcel cache and tmp dir
.cache
.tmp

# dependencies
/node_modules

# testing
/coverage

# production
/build
/buildStats

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
