$md-light-theme: false;
$md-font-family: "Roboto",
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
  system-ui,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // KDE
  "Oxygen",
  // Ubuntu
  "Ubuntu",
  // Gnome
  "Cantarell",
  // FF OS
  "Fira Sans",
  // Older android versions
  "Droid Sans",
  // Basic web fallback
  "Helvetica Neue",
  Arial, sans-serif !default;

@import "~react-md/src/scss/react-md";

@include react-md-everything;

body {
  margin: 0;
}

// Is not set by default, thus...
.md-toolbar {
  align-items: center;
}
