@import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/font-awesome/scss/font-awesome";
@import "./reboot-adoptions";
@import "./colors";
@import "./typography";

// Native font stack, see https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ .
// Note: "Roboto" was put a little bit lower on that list to not conflict with Google Maps, which loads the Roboto font.
// To avoid some crazy hacks to suppress this loading behavior, we'll put it somewhere lower so that it's only used on Android.
$font-family-sans-serif: // Safari for OS X and iOS (San Francisco)
  -apple-system,
    // Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
  system-ui,
    // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
    // Windows
  "Segoe UI",
    // KDE
  "Oxygen",
    // Ubuntu
  "Ubuntu",
    // Gnome
  "Cantarell",
    // FF OS
  "Fira Sans",
    // Android
  "Roboto",
    // Older android versions
  "Droid Sans",
    // Basic web fallback
  "Helvetica Neue",
  Arial, sans-serif !default;

// From bootstrap v4's reboot config:
html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-family-sans-serif;
  background: $color-white;
  margin: 0;
}

a {
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.h3 {
  font-weight: 600;
  font-size: 1.2em;
}

[hidden] {
  display: none !important;
}

input, textarea {
  padding: 5px 8px;
}

textarea {
  max-width: 100%;
}